{% extends 'home/common/home_base.html' %}
{% load static %}

{% block content %}
<div class="login">
    <form action="{% url 'apptest.views.login' %}" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="submit" value="Login">
    </form>
</div>
{% endblock %}
