{% extends 'home_base_site.html' %}
{% load static %}

{% block content %}
<div class="profile">
    {% for us in user %}
    <p>{{us.username}}</p>
    <p>{{us.first_name}}</p>
    <p>{{us.last_name}}</p>
    <p>{{us.email}}</p>
    <a href="{% url 'apptest.views.edit' us.id %}">Edit</a>
</div>
    {% endfor %}
{% endblock %}
