{% extends 'home/common/home_base.html' %}
{% load static %}

{% block content %}
<div class="reg">
    <form action="{% url 'apptest.views.reg' %}" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password1" placeholder="Password1">
        <input type="password" name="password2" placeholder="Password2">
        <input type="submit" name="submit" value="Register">
    </form>
</div>
{% endblock %}
