{% extends 'home_base_site.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'static/styles/home.css' %}">
{% endblock %}

{% block header %}
<div class="header">
    {% if user.username %}
    <a href="{% url 'apptest.views.profile' user.id %}">Profile</a>
    <a href="{% url 'apptest.views.logout' %}">Logout - {{user.username}}</a>
    {% else %}
    <a href="{% url 'apptest.views.reg' %}">Registration</a>
    <a href="{% url 'apptest.views.login' %}">Login</a>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'static/scripts/home.js' %}"></script>
{% endblock %}
